.view .view-header .btn {
  background: #2f88cd;
  background: -moz-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36a2f6), color-stop(100%, #2f88cd));
  background: -webkit-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -o-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -ms-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: linear-gradient(to bottom, #36a2f6 0%, #2f88cd 100%);
  border: 1px solid #2f88cd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  -webkit-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  font: normal 500 16px/16px "Open Sans", Arial, sans-serif;
  margin-left: 1px;
  margin-top: 1px;
  padding: 6px 15px;
  text-decoration: none;
  color: #fff;
  margin-bottom: 20px;
  margin-right: 10px;
  display: inline-block;
}
.view .view-header .btn:hover,
.view .view-header .btn:active,
.view .view-header .btn:focus {
  background: #359ff2;
  box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  color: #fff;
  text-shadow: 0 -1px 1px #2F88CD;
}
.view .views-field-status,
.view .views-field-field-weight {
  width: 80px;
}
.view .views-field-created,
.view .views-field-changed {
  width: 150px;
}
.view .views-field-nothing {
  width: 280px;
}
.view .form-type-select .description {
  display: none;
}
.view .views-field-custom-admin-action {
  width: 150px;
  padding: 5px!important;
}
.view .views-field-custom-admin-action .btn {
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid red;
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  color: #fff;
  box-sizing: border-box;
}
.view .views-field-custom-admin-action .btn.btn-edit {
  background: #f0ad4e;
  border-color: #f0ad4e;
}
.view .views-field-custom-admin-action .btn.btn-edit:hover {
  background: #D79435;
  border-color: #D79435;
}
.view .views-field-custom-admin-action .btn.btn-replicate {
  background: #5bc0de;
  border-color: #5bc0de;
}
.view .views-field-custom-admin-action .btn.btn-replicate:hover {
  background: #42A7C5;
  border-color: #42A7C5;
}
.view .views-field-custom-admin-action .btn.btn-translate {
  background: #5bc0de;
  border-color: #5bc0de;
}
.view .views-field-custom-admin-action .btn.btn-translate:hover {
  background: #42A7C5;
  border-color: #42A7C5;
}
.view .views-field-custom-admin-action .btn.btn-delete {
  background: #d9534f;
  border-color: #d9534f;
}
.view .views-field-custom-admin-action .btn.btn-delete:hover {
  background: #C03A36;
  border-color: #C03A36;
}
.view .view-filters {
  margin-bottom: 10px;
}
.view .view-filters .views-exposed-widgets {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.view .view-filters .views-exposed-widget {
  display: flex;
  float: none;
  padding: 0 10px;
  margin-bottom: 10px;
}
.view .view-filters .views-exposed-widget label {
  padding-right: 10px;
}
.view .view-filters .form-text, .view .view-filters .form-select {
  max-width: 120px;
}
.view .views-field-language {
  width: 50px;
}
.views-table .language-icon-cs {
  width: 28px;
  height: 22px;
  background: url("../images/flag-cs.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.views-table .language-icon-sk {
  width: 28px;
  height: 22px;
  background: url("../images/flag-sk.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.views-table .language-icon-en {
  width: 28px;
  height: 22px;
  background: url("../images/flag-en.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
