.page-user {
  .alert {
    max-width: 300px;
    margin: 0 auto @line-height-computed auto;
  }
}
#user-login,
#user-pass {
  max-width: 300px;
  margin: 0 auto;
  h2 {
    text-align: center;
    margin-bottom: @line-height-computed;
  }
  .help-block {
    display: none;
  }
  h2 {
    text-align: center;
    margin-bottom: @line-height-computed;
  }
  label.control-label {
    display: none;
  }
  .forgot-password,
  .login {
    line-height: 39px;
  }
  .form-actions {
    text-align: right;
  }
}
#user-profile-form {
  max-width: 600px;
  label.control-label {
    width: 180px;
    display: inline-block;
  }
  .form-type-password-confirm {
    .form-group {
      width: 100%!important;
    }
    .password-help,
    .progress,
    .form-control-feedback {
      display: none!important;
    }
  }
  .form-control {
    width: 250px;
    display: inline-block;
  }
}

.block-hp-slider {
  .slider-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    overflow: hidden;
    .gradient-left {
      width: 50px;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .gradient-right {
      width: 50px;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }
  .owl-dots {
    text-align: center;
    color: #fff;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    .owl-dot {
      display: inline-block;
      flex: 1;
      width: 0;
      margin: 0;
      padding: 30px 0;
      transition: all 0.3s;
      background: rgba(0, 0, 0, 0.5);
      &.active {
        background: none;
      }
    }
  }
  .owl-nav {
    .owl-prev,
    .owl-next {
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      .glyphicon {
        width: 50px;
        height: 50px;
        font-size: 20px;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
        line-height: 50px;
        color: #fff;
      }
    }
    .owl-next {
      left: auto;
      right: 0;
    }
  }
  .item {
    width: 100%;
    height: 640px;
    background-size: cover;
    .item-inner {
      max-width: 1170px;
      margin: 0 auto;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }
    .text {
      display: flex;
      align-items: center;
      .inner {
        max-width: 500px;
        font-size: 40px;
      }
    }
    .highlight {
      display: flex;
      align-items: center;
      .inner {
        max-width: 280px;
        padding: 20px;
        background-color: rgba(17, 184, 225, 0.9);
        color: #fff;
        ul {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            margin-bottom: @line-height-computed;
            display: flex;
            align-items: center;
            [class^="icon-"], [class*=" icon-"] {
              flex: 0 0 60px;
              font-size: 40px;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    a {
      text-decoration: none;
    }
    h1 {
      margin: 0 0 10px 0;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-weight: 900;
      display: inline-block;
      padding: 10px 15px;
    }
    p {
      font-size: 27px;
      font-weight: 300;
      line-height: 32px;
      color: #fff;
    }
  }
  @media(max-width: @screen-xs-max) {
    margin-bottom: @line-height-computed*2;
    .item {
      height: 240px;
    }
    .owl-dots {
      display: none;
    }
  }
}

.block-hp-offer {
  margin: @line-height-computed*3 0;
  h2 {
    font-size: 40px;
    text-align: center;
  }
  .item-list {
    display: flex;
  }
  .morelink {
    text-align: center;
  }
}

.block-hp-brand-car,
.block-hp-brand-van {
  background: #f4f4f4;
  padding: @line-height-computed*3 0;
  h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: @line-height-computed*2;
  }
  .item-list {
    display: flex;
    margin-bottom: @line-height-computed;
    justify-content: center;
    margin-left: -25px;
    margin-right: -25px;
    .item {
      width: 200px;
      padding: 0 25px;
      text-align: center;
      a {
        display: block;
        &:hover, &:focus, &:active {
          text-decoration: none;
        }
      }
      .title {
        margin-bottom: @line-height-computed;
        color: #000;
        font-size: @font-size-large;
        font-weight: bold;
      }
      .image {
        img {
          display: inline-block;
        }
      }
    }
  }
  .morelink {
    text-align: center;
  }
}
.block-hp-testimonial {
  padding: @line-height-computed*3 0;
  background-image: url('../images/bg-testimonial.jpg');
  background-size: cover;
  h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: @line-height-computed*2;
  }
  .item-list {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    .item {
      flex: 0 0 50%;
      display: flex;
      padding: 0 15px;
    }
    .image {
      flex: 0 0 20%;
      padding-right: @line-height-computed;
      img {
        border-radius: 50%;
      }
    }
  }
  .morelink {
    text-align: center;
  }
}

.block-404 {
  max-width: 700px;
  margin-bottom: @line-height-computed*3;
  .path {
    margin: @line-height-computed 0;
    font-style: italic;
  }
}

.field-customize-term-subcategory-car,
.field-customize-term-subcategory-van,
.field-customize-term-subcategory-stock,
.block-subcategory {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    padding: 0;
    li {
      list-style: none;
      flex: 0 0 33.3%;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
    }
    .item {
      display: block;
      border: 1px solid #d7d7d7;
      border-radius: @border-radius-base;
      padding: 20px;
      display: flex;
      min-height: 100px;
      transition: all 0.3s;
      &:hover, &:active, &:focus, &.item-active {
        text-decoration: none;
        border-color: #11b8e1;
      }
      .image {
        flex: 0 0 40%;
        display: flex;
        align-items: center;
        img {
          max-width: 100px;
          max-height: 50px;
        }
      }
      .title {
        flex: 0 0 60%;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: @font-size-medium;
        line-height: 20px;
        color: @gray-base;
      }
    }
  }
}
