.page-user {
  .alert {
    max-width: 300px;
    margin: 0 auto @line-height-computed auto;
  }
}
#user-login,
#user-pass {
  max-width: 300px;
  margin: 0 auto;
  h2 {
    text-align: center;
    margin-bottom: @line-height-computed;
  }
  .help-block {
    display: none;
  }
  h2 {
    text-align: center;
    margin-bottom: @line-height-computed;
  }
  label.control-label {
    display: none;
  }
  .forgot-password,
  .login {
    line-height: 39px;
  }
  .form-actions {
    text-align: right;
  }
}
#user-profile-form {
  max-width: 600px;
  label.control-label {
    width: 180px;
    display: inline-block;
  }
  .form-type-password-confirm {
    .form-group {
      width: 100%!important;
    }
    .password-help,
    .progress,
    .form-control-feedback {
      display: none!important;
    }
  }
  .form-control {
    width: 250px;
    display: inline-block;
  }
}

.block-404 {
  max-width: 700px;
  margin-bottom: @line-height-computed*3;
  .path {
    margin: @line-height-computed 0;
    font-style: italic;
  }
}
