.page-user {
  .alert {
    max-width: 300px;
    margin: 0 auto @line-height-computed auto;
  }
}
#user-login,
#user-pass {
  max-width: 300px;
  margin: 0 auto;
  h2 {
    text-align: center;
    margin-bottom: @line-height-computed;
  }
  .help-block {
    display: none;
  }
  h2 {
    text-align: center;
    margin-bottom: @line-height-computed;
  }
  label.control-label {
    display: none;
  }
  .forgot-password,
  .login {
    line-height: 39px;
  }
  .form-actions {
    text-align: right;
  }
}
#user-profile-form {
  max-width: 600px;
  label.control-label {
    width: 180px;
    display: inline-block;
  }
  .form-type-password-confirm {
    .form-group {
      width: 100%!important;
    }
    .password-help,
    .progress,
    .form-control-feedback {
      display: none!important;
    }
  }
  .form-control {
    width: 250px;
    display: inline-block;
  }
}
.highlight-list {
  display: flex;
  align-items: center;
  .inner {
    max-width: 280px;
    padding: 20px;
    background-color: rgba(17, 184, 225, 0.9);
    color: #fff;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin-bottom: @line-height-computed;
        display: flex;
        align-items: center;
        [class^="icon-"], [class*=" icon-"] {
          flex: 0 0 45px;
          font-size: 30px;
        }
        .text {
          font-size: @font-size-small;
          line-height: 1.3;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.block-hp-slider {
  position: relative;
  .slider-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    overflow: hidden;
    .container {
      padding-left: 0;
      padding-right: 0;
      &:before,
      &:after {
        display: none;
      }
    }
    .gradient-left {
      width: 50px;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .gradient-right {
      width: 50px;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }
  .owl-dots {
    text-align: center;
    color: #fff;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    .owl-dot {
      display: inline-block;
      flex: 1;
      width: 0;
      margin: 0;
      padding: 30px 0;
      transition: all 0.3s;
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      &.active {
        background: none;
      }
    }
  }
  .owl-nav {
    .owl-prev,
    .owl-next {
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      .glyphicon {
        width: 50px;
        height: 50px;
        font-size: 20px;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
        line-height: 50px;
        color: #fff;
        &:hover, &:focus {
          background: rgba(0, 0, 0, 0.7);
        }
        &:active {
          background: rgba(0, 0, 0, 0.9);
        }
      }
    }
    .owl-next {
      left: auto;
      right: 0;
    }
  }
  .item {
    width: 100%;
    height: 540px;
    background-size: cover;
    .container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;
      &:before,
      &:after {
        display: none;
      }
    }
    .text {
      display: flex;
      align-items: center;
      .inner {
        max-width: 600px;
        font-size: 40px;
      }
      .heading1 {
        font-size: 40px;
        line-height: 1.1;
        font-weight: 300;
        color: #fff;
      }
      .heading2 {
        font-size: 72px;
        line-height: 1.1;
        font-weight: normal;
        color: #fff;
      }
    }
    .highlight-list {
      .inner {
        margin-top: 30px;
        ul {
          li {
            margin-bottom: @line-height-computed/2;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    a {
      text-decoration: none;
    }
    h1 {
      margin: 0 0 10px 0;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-weight: 900;
      display: inline-block;
      padding: 10px 15px;
    }
    p {
      font-size: 27px;
      font-weight: 300;
      line-height: 32px;
      color: #fff;
    }
  }
  @media(max-width: @screen-md-max) {
    .owl-nav {
      display: none;
    }
  }
}

.block-hp-offer {
  margin: @line-height-computed*3 0;
  h2 {
    font-size: 40px;
    text-align: center;
    margin: 0 0 30px 0;
  }
  .owl-carousel {
    margin: 0 0 30px 0;
  }
  .item {
    margin: 0 15px;
    .stickers {
      .sticker-stock {
        display: none!important;
      }
    }
  }
  .owl-nav {
    .owl-prev,
    .owl-next {
      position: absolute;
      top:0;
      bottom: 0;
      left: -70px;
      display: flex;
      align-items: center;
      .glyphicon {
        font-size: 40px;
        text-align: center;
        line-height: 50px;
        color: @brand-primary;
      }
    }
    .owl-next {
      left: auto;
      right: -70px;
    }
  }
  .morelink {
    text-align: center;
  }
  .block-highlight {
    display: none;
    .inner {
      max-width: 400px;
    }
    .highlight-list {
      justify-content: center;
    }
    @media(max-width: @screen-sm-max) {
      display: block;
      padding-top: @line-height-computed*2;
    }
  }
  @media(max-width: @screen-md-max) {
    .owl-nav {
      .owl-prev {
        left: -25px;
      }
      .owl-next {
        right: -25px;
      }
    }
  }
  @media(max-width: @screen-xs-max) {
    margin: 15px 0;
    overflow: hidden;
    h2 {
      font-size: @font-size-large;
      margin: @line-height-computed 0 @line-height-computed/2 0;
    }
    .owl-carousel {
      margin-left: -100px;
      margin-right: -100px;
      width: auto;
    }
    .owl-nav {
      .owl-prev,
      .owl-next {
        display: block;
        padding-top: 40px;
      }
      .owl-prev {
        left: 100px;
      }
      .owl-next {
        right: 100px;
      }
    }
  }
}

.block-hp-brand-car {
  background: #f4f4f4;
  padding: @line-height-computed*3 0;
  h2 {
    font-size: 40px;
    text-align: center;
    margin: 0 0 @line-height-computed*3 0;
    position: relative;
    &:after {
      width: 50px;
      height: 4px;
      background-color: #e2e1e0;
      content: '';
      display: block;
      position: absolute;
      bottom: -20px;
      left: 50%;
      right: 50%;
      margin-left: -25px;
    }
  }
  .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: @line-height-computed;
    .item {
      flex: 0 0 12.5%;
      padding: 0 15px;
      text-align: center;
      margin-bottom: @line-height-computed;
      a {
        display: block;
        &:hover, &:focus, &:active {
          text-decoration: none;
        }
      }
      &:hover {
        .image {
          .image-hover {
            opacity: 1;
          }
        }
      }
      .title {
        margin-bottom: @line-height-computed/2;
        color: #000;
        font-size: @font-size-large;
        font-weight: bold;
      }
      .image {
        position: relative;
        padding: 10px;
        img {
          display: inline-block;
        }
        .image-hover {
          width: 100%;
          height: 100%;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          right: 0;
          background: rgba(17, 184, 225, 0.8);
          border-radius: @border-radius-base;
          opacity: 0;
          transition: all 0.6s;
        }
      }
    }
  }
  .morelink {
    text-align: center;
  }
  @media(max-width: @screen-sm-max) {
    .item-list {
      margin-left: -10px;
      margin-right: -10px;
      .item {
        flex: 0 0 25%;
        padding: 0 10px;
      }
    }
  }
  @media(max-width: @screen-xs-max) {
    padding: @line-height-computed 0;
    h2 {
      font-size: @font-size-large;
      margin-bottom: @line-height-computed;
      &:after {
        display: none;
      }
    }
    .item-list {
      margin-left: -10px;
      margin-right: -10px;
      .item {
        flex: 0 0 33.3%;
        max-width: 33.3%;
        padding: 0 10px;
        margin-bottom: 0;
      }
    }
  }
}
.block-hp-testimonial {
  padding: @line-height-computed*4 0 @line-height-computed*6 0;
  background-image: url('../images/bg-testimonial.jpg');
  background-size: cover;
  h2 {
    font-size: 40px;
    text-align: center;
    margin: 0 0 @line-height-computed*3 0;
  }
  .item-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -@line-height-computed*3;
    margin-right: -@line-height-computed*3;
    .item {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 @line-height-computed*3;
    }
    .image {
      margin-bottom: @line-height-computed;
      display: flex;
      flex-align: center;
      min-height: 45px;
      img {
        max-height: 45px!important;
      }
    }
    .text {
      color: @headings-color;
      font-weight: 300;
      font-size: @font-size-medium;
      line-height: 1.5;
      .author {
        font-weight: normal;
      }
    }
  }
  .morelink {
    text-align: center;
  }
  @media(max-width: @screen-md-max) {
    .item-list {
      margin-left: -@line-height-computed;
      margin-right: -@line-height-computed;
      .item {
        padding: 0 @line-height-computed;
      }
    }
  }
  @media(max-width: @screen-xs-max) {
    padding: @line-height-computed 0 @line-height-computed 0;
    h2 {
      font-size: @font-size-large;
      margin: 0 0 @line-height-computed 0;
    }
    .item-list {
      margin-left: 0px;
      margin-right: 0px;
      .item {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0px;
        margin-bottom: @line-height-computed;
      }
      .text {
        font-size: @font-size-small;
        line-height: @line-height-computed;
        .author {
          font-size: @font-size-tiny;
        }
      }
    }
  }
}

.block-404 {
  max-width: 700px;
  margin-bottom: @line-height-computed*3;
  .path {
    margin: @line-height-computed 0;
    font-style: italic;
  }
}

.field-customize-term-subcategory-car,
.field-customize-term-subcategory-stock,
.block-subcategory {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    padding: 0;
    li {
      list-style: none;
      flex: 0 0 33.3%;
      max-width: 33.3%;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;
    }
    .item {
      display: block;
      border: 1px solid @input-border;
      border-radius: @border-radius-base;
      padding: 10px 10px;
      display: flex;
      transition: all 0.3s;
      min-height: 72px;
      &:hover, &:active, &:focus, &.item-active {
        text-decoration: none;
        border-color: #11b8e1;
        .title {
          color: @brand-primary;
        }
      }
      .image {
        flex: 0 0 70px;
        display: flex;
        align-items: center;
        img {
          max-width: 50px;
          max-height: 50px;
        }
      }
      .title {
        flex: 0 0 60%;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: @font-size-medium;
        line-height: 20px;
        color: @gray-base;
        transition: all 0.3s;
      }
    }
    &.level-2,
    &.level-3 {
      .item {
        padding: 5px 10px;
        .image {
          flex: 0 0 100px;
          padding-right: 10px;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
  @media(max-width: @screen-xs-max) {
    ul {
      margin-left: -5px;
      margin-right: -5px;
      li {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
      }
      .item {
        padding: 5px;
        min-height: 0;
        .image {
          flex: 0 0 40px;
          img {
            max-width: 30px;
            max-height: 30px;
          }
        }
        .title {
          flex: 0 0 auto;
          font-size: @font-size-base;
        }
      }
      // eg. Škoda page
      &.level-2 {
        .item {
          height: 100%;
          .image {
            display: none;
          }
          .title {
            flex: 0 0 100%;
            font-size: @font-size-base;
            align-items: center;
          }
        }
      }
    }
  }
}

.category-list-form {
  .category-list-filter {
    background: #f4f4f4;
    padding: 30px 40px;
    margin-bottom: @line-height-computed;
    border-radius: @border-radius-base;
    h2 {
      margin: 0 0 @line-height-computed 0;
    }
    .item-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: @line-height-computed;
    }
    .item {
      label {
        display: block;
        font-weight: normal;
        color: @headings-color;
      }
    }
    .item-sort {
      display: none;
    }
    .item-action {
      align-self: flex-end;
    }
    .item-advanced {
      flex: 0 0 100%;
      .item-price {
        padding: @line-height-computed 0 0 0;
      }
    }
    .morelink-mobile {
      display: none;
    }
  }
  .category-list-sort {
    background: #f4f4f4;
    margin-bottom: @line-height-computed*2;
    padding: 5px 5px 0 5px;
    border-radius: @border-radius-base;
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        label {
          margin: 0;
          input {
            display: none;
          }
          span {
            padding: 15px 30px;
            display: block;
            font-weight: normal;
            border-top-left-radius: @border-radius-base;
            border-top-right-radius: @border-radius-base;
            border-top: 2px solid transparent;
            transition: all 0.3s;
            cursor: pointer;
            color: @headings-color;
          }
          input:checked+span {
            background: #fff;
            color: @brand-primary;
            border-top-color: @brand-primary;
          }
        }
      }
    }
  }
  @media(max-width: @screen-md-max) {
    .category-list-filter {
      .item-action {
        display: none;
      }
    }
  }
  @media(max-width: @screen-xs-max) {
    .category-list-filter {
      padding: 10px 20px;
      h2 {
        font-size: @font-size-medium;
        padding-top: @line-height-computed/2;
      }
      .item {
        margin-bottom: @line-height-computed/4;
        flex: 0 0 100%;
      }
      .item-body,
      .item-sort {
        .select-background {
          float: left;
        }
      }
      .item-sort {
        display: block;
      }
      .morelink {
        display: none;
      }
      .morelink-mobile {
        display: block;
      }
    }
    .category-list-sort {
      display: none;
    }
  }
}
// hide from vozy skladem
// we dont have prices yet
.product-list-stock {
  .category-list-form {
    .category-list-filter {
      margin-bottom: @line-height-computed*2;
      .item-sort {
        display: none;
      }
    }
    .category-list-sort {
      display: none;
    }
    #categoryAdvancedFilters,
    .morelink {
      display: none;
    }
  }
}

.view-block-car-list {
  .views-exposed-form {
    display: none;
  }
  .view-content {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s;
    .item {
      flex: 0 0 33.3%;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 30px;
    }
  }
  // class toggled by custom javascript in product-list.js
  &.view-refresh {
    .view-content {
      opacity: 0.3;
    }
  }
  @media(max-width: @screen-xs-max) {
    .view-content {
      .item {
        flex: 0 0 50%;
      }
    }
  }
}

.block-howto {
  background: #f4f4f4;
  padding: 30px;
  text-align: center;
  h2 {
    font-size: 40px;
    font-weight: 600;
  }
  @media(max-width: @screen-xs-max) {
    h2 {
      font-size: 30px;
    }
  }
}

.block-contacts {
  ul {
    padding: 0;
    li {
      list-style: none;
      padding: 5px 0 5px 0;
    }
    &.numbers {
      margin: 0 0 @line-height-computed*2 0;
      li {
        font-size: @font-size-large;
        line-height: 30px;
        font-weight: 700;
        color: @brand-primary;
      }
    }
    &.initials {
      margin: 0 0 @line-height-computed*2 0;
      display: flex;
      flex-wrap: wrap;
      li {
        flex: 0 0 50%;
      }
      .title {
        font-weight: bold;
        font-size: @font-size-large;
        line-height: 30px;
        margin: 0 0 @line-height-computed 0;
        text-transform: uppercase;
        color: @brand-primary;
      }
    }
  }
  .item-about {
    h2 {
      font-size: @font-size-base;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 @line-height-computed 0;
    }
  }
  @media(max-width: @grid-float-breakpoint-max) {
    margin: 0 0 @line-height-computed*2 0;
    ul {
      li {
        flex: 0 0 100%;
      }
      &.numbers {
        margin: 0;
      }
      &.initials {
        margin: 0 0 @line-height-computed 0;
        li {
          margin: 0;
        }
      }
    }
    .item-map {
      margin-bottom: @line-height-computed*2;
    }
  }
  @media(max-width: @screen-xs-max) {
    ul {
      &.initials {
        li {
          flex: 0 0 100%;
          margin: 0 0 @line-height-computed 0;
        }
      }
    }
  }
}
