.footer {
  background: #2c2e2f;
  margin: 0;
  padding: @line-height-computed*2 0;
  color: #b5bfc9;
  a {
    color: #b5bfc9;
  }
  .region-footer {
    display: flex;
    justify-content: space-between;
  }
}
