.block-sidebar-category {
  border: 1px solid @input-border;
  margin-bottom: @line-height-computed;
  border-radius: @border-radius-base;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      border-bottom: 1px solid @input-border;
      position: relative;
      &:last-child {
        border-bottom: 0;
      }
      a {
        padding: 15px 40px 15px 30px;
        display: block;
        background: #fbfbfc;
        transition: background-color 0.1s;
        font-weight: bold;
        color: @headings-color;
        &:hover, &:focus, &.active {
          background: @brand-primary;
          color: #fff;
          text-decoration: none;
        }
        &:active {
          background: darken(@brand-primary, 5%);
        }
      }
      .submenu-toggle {
        width: 40px;
        height: 52px;
        line-height: 52px;
        text-align: center;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        transition: all 0.1s;
        &:hover {
          background: darken(@brand-primary, 5%);
        }
      }
      &.open {
        ul {
          display: block;
        }
      }
      ul {
        background: #fff;
        display: none;
        li {
          border-bottom: 0;
          list-style: none;
          a {
            background: none;
            padding: 10px 10px 10px 45px;
            color: @headings-color;
            font-weight: normal;
            position: relative;
            &:hover, &:focus, &.active {
              background: none;
              color: @brand-primary;
              font-weight: normal;
              &:before {
                color: @brand-primary;
              }
            }
            &:active {
              background: none;
            }
            &:before {
              font-family: 'autonaoperak';
              content: "\e908";
              position: absolute;
              left: 25px;
              top: 10px;
            }
          }
        }
      }
    }
  }
}
.block-sidebar-contact-form {
  background: #f4f4f4;
  padding: 30px;
  margin: 0 0 @line-height-computed 0;
  h2 {
    margin: 0;
    font-size: @font-size-large;
  }
  .subtitle {
    font-size: @font-size-medium;
    margin: 0 0 @line-height-computed 0;
  }
  .form-uoou {
    margin: 0 0 @line-height-computed 0;
    label {
      color: @text-color;
    }
    a {
      color: @text-color;
    }
  }
  .form-actions {
    text-align: center;
    .btn {
      font-size: @font-size-small;
      line-height: 20px;
      font-weight: bold;
      padding: 15px 30px;
      text-transform: uppercase;
    }
  }
}
.block-sidebar-contact {
  border: 1px solid @input-border;
  border-radius: @border-radius-base;
  margin-bottom: @line-height-computed;
  padding: 30px 20px;
  h2 {
    margin: 0 0 @line-height-computed 0;
    font-size: @font-size-large;
  }
  ul.contacts {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: flex;
      margin: 0 0 @line-height-computed/2 0;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: @headings-color;
        &:hover, &:focus {
          text-decoration: none;
        }
      }
      [class^="icon-"], [class*=" icon-"] {
        flex: 0 0 40px;
        font-size: 24px;
        font-weight: bold;
        color: @brand-primary;
      }
    }
  }
}
.block-sidebar-highlight {
  background-color: #11b8e1;
  margin-bottom: @line-height-computed;
  border-radius: @border-radius-base;
  padding: 30px 20px;
  color: #fff;
  ul.highlight {
    margin: 0 0 @line-height-computed*2 0;
    padding: 0;
    li {
      list-style: none;
      margin-bottom: @line-height-computed;
      display: flex;
      align-items: center;
      [class^="icon-"], [class*=" icon-"] {
        flex: 0 0 60px;
        font-size: 40px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .morelink {
    text-align: center;
  }
}
